# (.log, .out)
*.log
*.out
*.gz

# in/output
output/
models
checkpoints/
zero/
models/
cross.zip
data/
local_helper_tools/
eval_data/
*_step_frames/

* copy.py
* copy.sh

__pycache__/
*.pyc
*.pyo
*.pyd

# (venv, env)
venv/
env/
.env

.vscode/
.idea/

# local upstream Habitat source checkouts; recreated by setup scripts
habitat-lab/
habitat-sim/
